<a href="https://colab.research.google.com/github/handyhandoko/Belajar-Data-Science/blob/master/Basic_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pada kali ini kita akan belajar tentang library Pandas. Library ini juga lazim digunakan dalam pengolahan data menggunakan Python.

Untuk mulai menggunakan pandas, seperti juga library lainnya kita harus mengimport library tersebut terlebih dahulu.

In [0]:
import pandas as pd

Setelah itu baru kita bisa mulai menggunakan Pandas.


**Series**

Kalau kamu pernah menggunakan database, sebuah data disebut dengan "record". Kalau di excel disebut nya row.

Dalam Pandas sendiri, sebuah data disebut dengan "series".

Mari kita coba membuat sebuah series.

In [0]:
po = pd.Series(["Po", "Panda", "Dragon Knight", 7])
print(po)

0               Po
1            Panda
2    Dragon Knight
3                7
dtype: object

Kalau diperhatikan, series yang baru saja kita buat memiliki index berupa 0-3. Mirip seperti array biasa. 

Mari kita coba membuat ulang series itu. Tapi kali ini kita coba ganti indexnya dengan nama yang lebih mudah dipahami.

In [0]:
po = pd.Series(["Po", "Panda", "Dragon Knight", 7], index=["name", "species", "title", "skill level by default"])
print(po)

name                                 Po
species                           Panda
title                     Dragon Knight
skill level by default                7
dtype: object

Selain menggunakan cara di atas, kita juga dapat menggunakan cara ini untuk membuat series. Terutama bila kita ingin membuat beberapa series dengan menggunakan index yang sama.

Dalam Pandas, sekumpulan series disebut dengan Data Frame. Ini mirip dengan table di database.

In [0]:
furious_five = pd.DataFrame({'name': ['Tigress', 'Monkey', 'Viper', 'Crane', 'Mantis'],
            'species': ['Tiger', 'Monkey', 'Snake', 'Crane', 'Mantis'],
            'gender': ["Female", 'Male', 'Female', 'Male', 'Male']})

**Indexing**

Kita bisa memilih data berdasarkan index tertentu. Karena index sudah kita ganti menjadi nama, maka kita akan lebih mudah melakukan indexing daripada index yang masih berupa angka.

Kalau kamu sudah pernah menggunakan query di database. Ini mirip seperti itu kira-kira.

In [0]:
print(po['name'])
print('')
print(furious_five[['name', 'gender']])
print('')
print(furious_five[furious_five['gender'] == 'Male'])
print('')
print(furious_five[furious_five['gender'] == 'Female']['name'])
print('')
print(furious_five[furious_five.gender == 'Male']['name'])
print('')
print(furious_five.loc[1])

Po

      name  gender
0  Tigress  Female
1   Monkey    Male
2    Viper  Female
3    Crane    Male
4   Mantis    Male

     name species gender
1  Monkey  Monkey   Male
3   Crane   Crane   Male
4  Mantis  Mantis   Male

0    Tigress
2      Viper
Name: name, dtype: object

1    Monkey
3     Crane
4    Mantis
Name: name, dtype: object

name       Monkey
species    Monkey
gender       Male
Name: 1, dtype: object