<a href="https://colab.research.google.com/github/handyhandoko/Belajar-Data-Science/blob/master/Basic%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pada kali ini kita akan belajar tentang library Pandas. Library ini juga lazim digunakan dalam pengolahan data menggunakan Python.

Untuk mulai menggunakan pandas, seperti juga library lainnya kita harus mengimport library tersebut terlebih dahulu.

In [0]:
import pandas as pd

Setelah itu baru kita bisa mulai menggunakan Pandas.


**Series**

Kalau kamu pernah menggunakan database, sebuah data disebut dengan "record". Kalau di excel disebut nya row.

Dalam Pandas sendiri, sebuah data disebut dengan "series".

Mari kita coba membuat sebuah series.

In [6]:
po = pd.Series(["Po", "Panda", "Dragon Knight", 7])
print(po)

0               Po
1            Panda
2    Dragon Knight
3                7
dtype: object

Kalau diperhatikan, series yang baru saja kita buat memiliki index berupa 0-3. Mirip seperti array biasa. 

Mari kita coba membuat ulang series itu. Tapi kali ini kita coba ganti indexnya dengan nama yang lebih mudah dipahami.

In [9]:
po = pd.Series(["Po", "Panda", "Dragon Knight", 7], index=["name", "species", "title", "skill level by default"])
print(po)

name                                 Po
species                           Panda
title                     Dragon Knight
skill level by default                7
dtype: object

**Indexing**

Kita bisa memilih data berdasarkan index tertentu. Karena index sudah kita ganti menjadi nama, maka kita akan lebih mudah melakukan indexing daripada index yang masih berupa angka.

Kalau kamu sudah pernah menggunakan query di database. Ini mirip seperti itu kira-kira.

In [14]:
print(po['name'])
print('')
print(po[['name', 'title', 'skill level by default']])

Po

name                                 Po
title                     Dragon Knight
skill level by default                7
dtype: object